
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 94%;
    --foreground: 222 84% 4.9%;
    --card: 240 5% 98%;
    --card-foreground: 222 84% 4.9%;
    --popover: 255 100% 100%;
    --popover-foreground: 222 84% 4.9%;
    --primary: 262 84% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 222 47.4% 11.2%;
    --muted: 220 14% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 220 14% 96%;
    --accent-foreground: 222 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 84% 58%;
    --radius: 0.5rem;

    --gradient-from: #7aabf4;
    --gradient-to: #a772f6;
    --gradient-from-hover: #a4c9f9;
    --gradient-to-hover: #c7abf4;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 217.2 32.6% 17.5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 262 84% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 78%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 262 84% 58%;
  }
}

@layer base {
  * {
    @apply border-border transition-all duration-200 ease-in-out;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .card {
    @apply bg-card rounded-2xl shadow-md hover:shadow-lg hover:-translate-y-1 transition-all duration-200 dark:border dark:border-border;
  }

  .input, .textarea {
    @apply rounded-lg border focus:ring-2 focus:ring-[#914aff]/50 focus:border-[#5b9dff];
  }

  .gradient-text {
    @apply bg-gradient-to-r from-[var(--gradient-from)] to-[var(--gradient-to)] bg-clip-text text-transparent;
  }
  .gradient-button {
    @apply bg-gradient-to-r from-[var(--gradient-from)] to-[var(--gradient-to)] text-white;
  }

}
